* > *
{
	position: relative;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-display: swap;
}

html
{
	font-size: 15px;
	line-height: 1;
	font-family: "Volkhov", "Times New Roman", "Courier", serif;
}
body
{
	overflow: hidden;
	background-color: rgba(0, 26, 45, 1);
}

.container
{
	position: relative;
	display: block;
	max-width: 1920px;
	width: 100%;
	padding: 1rem;
	padding-bottom: 2rem;
	margin: auto;
	background-color: rgba(0, 26, 45, 1);	
}
.quotation
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 26, 45, 1);
	text-align: center;
	font-size: 1.2rem;
	color: #ffffff;
	opacity: 1;
	z-index: 99;
}
.quotation-content
{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	max-width: 90%;
	opacity: 0;
	font-family: "Volkhov";
	transform: translate(-50%, -50%);
}
.js--hide-quotation
{
	overflow: auto;
}
.js--hide-quotation .quotation
{
	transition: 1s 2s;
	opacity: 0;
	pointer-events: none;
}
.js--hide-quotation .quotation-content
{
	transition: 0.3s;
	opacity: 1;
}
.hero
{
	position: relative;
	display: block;
	margin: -15px -15px 0;
	height: 560px;
	overflow: hidden;
}
.invite-photo, .invite-photo img
{
	position: relative;
	display: block;
	width: 100%;
	min-height: 100%;
	z-index: 1;
	object-fit: cover;
	object-position: right;
}
.invite-photo {
	height: 100%;
	box-shadow: inset 25px 25px 0 rgba(255,255,255,0.4);
}
/*.invite-photo:after
{
	position: absolute;
	z-index: 2;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: radial-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5));
}*/
.quotation-written
{
	font-family: "Tangerine";
	font-size: 2.5rem;
	line-height: 1.7;
}
.quotation-separator
{
	position: relative;
	width: 100%;
	height: 3rem;
	display: block;
}
.quotation-separator:before
{
	position: absolute;
	content: '';
	left: 50%;
	transform: translate(-50%, 0);
	height: 2px;
	border-radius: 10px;
	width: 0;
	background-color: #ffffff;
	top: 50%;
	margin-top: -1px
}

.js--hide-quotation .quotation-separator:before
{
	transition: 0.6s 0.5s;
	width: 100%;
}
.g_maps-box
{
	margin: 15px auto 0;
	/*width: 100%;*/
	/*height: 100%;*/
	max-width: 640px;
	max-height: 360px;
}
.g_maps-container
{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.g_maps-container .g_maps
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.invite
{
	color: #ffffff;
	text-align: center;
	font-size: 1.1rem;
	margin: 1rem auto;
}
.invite-names
{
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	font-size: 4rem;
	color: #ecbe27;
	background-color: rgba(0,0,0,0.3);
	font-family: "Tangerine";
	transform: translate(0, -50%);
}
.invite-names p
{
	margin: 0.6rem auto;
	line-height: 1;
	text-align: center;
	text-shadow: 1px 1px 1px #4e4208;
	font-weight: 700;
}
.invite-names .amp
{
	font-weight: normal;
	margin: 0 auto;
	line-height: 0.25;
}


.invitation
{
	position: relative;
	display: block;
	display: flex;
	flex-wrap: wrap;
	padding: 30px 15px;
	margin: auto;
	max-width: 880px;
	background: #fff;
}
/*.invitation:after
{
	position: absolute;
	height: 100%;
	content: '';
	width: 1px;
	background: rgba(0, 26, 45, 1);
	left: 50%;

}*/
.event-container.event-container--full p
{
	font-family: "Tangerine";
	font-size: 3rem;
	text-align: center;
	margin: auto;
	max-width: 60%;
}
.event-container
{
	flex: 1 0 50%;
	padding: 0 25px 25px;
	text-align: left;
	font-family: "Volkhov";
}
.event-container.event-container--left
{
	text-align: right;
}
.event-container.event-container--full
{
	text-align: center;
	flex: 1 0 100%;
	z-index: 6;
}

.add-calendar
{
	padding: 6px 12px;
	margin: 0 15px;
	border: 1px solid #000;
	color: #000;
	border-radius: 4px;
	width: auto;
	display: inline-block;
	font-size: 1.1rem;
	box-shadow: 0 2px 4px rgba(0,0,0,.1);
	text-decoration: none;
	font-family: "Volkhov";
}
.date-container
{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	text-align: center;
	margin: 20px auto 50px
}
.date-container p
{
	flex: 1 0 50%;
	vertical-align: middle;
	font-size: 2rem;
	display: inline-block;
	color: #ecbe27;
	text-shadow: 1px 1px 1px #4e4208;
}
.date-container p:nth-child(1)
{
	text-align: right;
	padding-right: 50px;
}
.date-container p:nth-last-child(1)
{
	text-align: left;
	padding-left: 50px;
}
.date-container .date
{
	position: absolute;
	left: 50%;
	top: 50%;
	line-height: 2rem;
	padding: 0 12px;
	transform: translate(-50%, -50%);
	font-size: 3.1rem;
	border-right: 1px solid #ecbe27;
	border-left: 1px solid #ecbe27;
}
.date-container .date span
{
	display: block;
	font-size: 1.5rem
}
.event-container h2, .event-container h3
{
	font-weight: 400;
	font-size:  3rem;
	color: #ecbe27;
	text-shadow: 1px 1px 1px #4e4208;
	font-family: "Tangerine";
}
.event-container h3
{
	font-size: 2rem;
	margin: 15px 0;
	font-weight: 700;
}
.event-container h2 ~ p
{
	color: #666;
	margin: 12px 0;
	font-size: 1.2rem;
	line-height: 1.5;
}
.cptlz
{
	text-transform: uppercase;
}

@media(max-width: 640px){
	.container
	{
		padding: 0 15px 15px;
	}
	.hero
	{
		height: auto;
	}
	.invitation
	{
		padding: 15px 15px 0;
	}
	.invite-photo
	{
		max-height: 380px;
	}
	.invite-names
	{
		top: initial;
		left: initial;
		bottom: 0;
		transform: none;
		font-size: 3rem;
	}
	.event-container.event-container--full p
	{
		font-size: 2.4rem;
		max-width: 80%;
	}

	.event-container
	{
		flex: 1 0 100%;
		text-align: center;
	}
	.event-container.event-container--full
	{
		padding-left: 0;
		padding-right: 0;
	}
	.event-container.event-container--left
	{
		text-align: center;
	}
	.date-container p
	{
		font-size: 1.2rem;
	}
	.date-container .date
	{
		font-size: 2.6rem;
	}
	.date-container .date span
	{
		font-size: 1.3rem;
	}
}