* > *
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-display: swap;
}

html
{
	font-size: 15px;
	line-height: 1;
	font-family: "Times New Roman", "Courier", serif;
}

.container
{
	width: 100%;
	padding: 1rem;
	background: #ffffff;
}
.quotation
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 26, 45, 1);
	text-align: center;
	font-size: 1.2rem;
	color: #ffffff;
	opacity: 1;
	z-index: 99;
}
.js--hide-quotation
{
	overflow: auto;
}
.js--hide-quotation .quotation
{
	transition: 1.2s 5s;
	opacity: 0;
	pointer-events: none;
}
.hero
{
	position: relative;
	display: block;
	margin: -15px -15px 0;
	height: 560px;
	overflow: hidden;
}
.invite-photo, .invite-photo img
{
	position: relative;
	display: block;
	width: 100%;
	min-height: 100%;
	z-index: 1;
	object-fit: cover;
}
.invite-photo {
	height: 100%;
	box-shadow: inset 25px 25px 0 rgba(255,255,255,0.4);
}
.invite-photo:after
{
	position: absolute;
	z-index: 2;
	content: '';
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: radial-gradient(rgba(255,255,255,0), rgba(255,255,255,0.5));
}
.quotation-written
{
	font-family: "Tangerine";
	font-size: 2.5rem;
	line-height: 1.7;
}
.quotation-separator
{
	position: relative;
	width: 100%;
	height: 3rem;
	display: block;
}
.quotation-separator:before
{
	position: absolute;
	content: '';
}
.quotation-separator:before
{
	left: 0;
	height: 2px;
	border-radius: 10px;
	width: 100%;
	background-color: #ffffff;
	top: 50%;
	margin-top: -1px
}
.g_maps-box
{
	margin: auto;
	width: 100%;
	height: 100%;
	max-width: 640px;
	max-height: 360px;
}
.g_maps-container
{
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.g_maps-container .g_maps
{
	position: absolute;
	width: 100%;
	height: 100%	
}

.invite
{
	color: #ffffff;
	text-align: center;
	font-size: 1.1rem;
	margin: 1rem auto;
}
.invite-names
{
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	font-size: 4rem;
	color: #D4AF37;
	background-color: rgba(255,255,255,0.3);
	font-family: "Tangerine";
	transform: translate(0, -50%);
}
.invite-names p
{
	margin: 0.6rem auto;
	line-height: 1;
	text-align: center;
	text-shadow: 1px 1px 0 #4e4208;
	font-weight: 700;
}
.invite-names .amp
{
	font-weight: normal;
	margin: 0 auto;
	line-height: 0.25;
}